.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	border-bottom: 1px solid #f4f4f4;
	// .header__logo

	&__logo {
		display: flex;
		align-items: center;
		img {
			margin-right: 15px;
			width: 40px;
			height: 40px;
		}
	}

	// .header__title

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;
		color: #000000;
	}

	// .header__subtitle

	&__subtitle {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #9d9d9d;
		opacity: 0.5;
	}

	// .header__nav

	&__nav {
	}
}
.nav-header {
	&__list {
		display: flex;
	}
	// .nav-header__item

	&__item {
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 20px;
		}
		&:first-child {
			display: flex;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			color: #5c5c5c;
			transition: all 0.3s ease 0s;
			&:hover {
				color: #8bb43c;
			}
			img {
				margin-right: 10px;
			}
		}
		img {
			width: 18px;
			height: 18px;
		}
	}

	// .nav-header__cart

	&__cart {
		position: relative;
		display: block;
		span {
			position: absolute;
			top: -8px;
			right: 2px;
			width: 15px;
			height: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #5c5c5c;
			border-radius: 50%;
			z-index: 10;
			font-size: 10px;
			color: #5c5c5c;
			background-color: #8bb43c;
		}
	}
}
